.indexBody {
    background-color:black;
    text-align: center;
    font-family: 'Trebuchet MS';
    margin-top: 20%;
}

.login {
    background-color:rgb(235, 193, 193);
}

#content1 {
    float: left;
    width: 50%;
    font-family: 'Trebuchet MS';
}

#content2 {
    float: left;
    width: 50%;
    font-family: 'Trebuchet MS';
}

#buttons {
   margin: 0 auto;
   text-align: center;
   font-family: 'Trebuchet MS';
}

#winner {
    margin: 0 auto;
    text-align: center;
    font-family: 'Trebuchet MS';
}